body {
  font-family: 'Joan', serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0; 
  padding: 0;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(180deg, rgb(224, 230, 231), #ddd 80%, #ccc);
}

.container {
  max-width: 1440px;
  min-height: 1000px;
  position: relative;
  background-color: rgb(228, 231, 231);
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-top: 0;
  margin-left: 70px;
  margin-right: 70px;
}
.container2 {
  width: 1440px;
  min-height: 40px;
  position: relative;
  background-color: rgb(228, 231, 231);
}
.container2 nav li{
  display: inline-block;

}
.container2 nav li :hover{
 background: rgb(116, 182, 194);
 }


.container2 nav a{
  display: block;
  padding: 15px 65px;
  text-decoration: none;
  font-weight: bold;
  color: rgb(5, 22, 153);
}


.container2 nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
	display: flex;
  justify-content: space-between;
  align-items: center;
}
.left {
  padding-left: 50px;
  position: relative;
  background-image: linear-gradient(180deg, #4a9db6, #ddd 80%, #ccc);
}
.right {
  padding-left: 50px;
  position: relative;
  background-image: linear-gradient(180deg, #4a9db6, #ddd 80%, #ccc);
}
.profile {
  position: relative;
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  flex-direction: column;
}
.profile .img {
  border-radius: 50%; 
  position: relative; 
  width: 200px;
  height: 200px;
  overflow: hidden;
  margin-top: 5%;
}
.profile .img img 
{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover ; 
}

.profile h1 {
  font-family: 'Joan', serif;
  text-align: center;
  color: rgb(35, 104, 161);
  margin-top: 20px;
  font-size: 1.5em;
  font-weight: 600;
  line-height: 1.5em;
  text-transform: uppercase;
  border-bottom: 1px solid rgb(59, 131, 150);
  padding-bottom: 20px;
  border-bottom-width: 2px;
  align-items: center;
}

.works {
  color:rgb(32, 154, 182);
  font-weight: 400;
}
.contacts {
  padding-top: 5px;
}
.tittle {
  color: rgb(8, 79, 126);
  padding-top: auto;
}
.text {
  color:rgb(58, 58, 121);
  padding-top: auto;
  font-weight: 150;
  font-size: large;
}
.textfooter {
  color:rgb(58, 58, 121);
  padding-top: auto;
  font-weight: 150;
  font-size: large;
  margin-left: 70px;
}
.code {
  background-color: #7bb5c7;
  border: 1px solid #2d7d96;
}

.aboutme {
  position: relative;
  display: flex;
  align-items: left;
  padding-bottom: 10px;
  flex-direction: column;
}

.footer {
	max-width: 100%;
}
.school {
  float: right;
  color:rgb(58, 58, 121);
  padding-top: auto;
  font-weight: 150;
  font-size: large;
  margin-right: 70px;
}
.footer img {
  width: 20%;
  float: right;
}
